

.container{
  width:100%;
  height: 100vh;
  background-color: blueviolet;
  padding-top: 70px;
}
.weather{
  width: 380px;
  padding: 70px;
  border-radius: 40px;
  margin: 30px auto;
  background: linear-gradient(rgba(84, 12, 207, 0.944));
  color: aliceblue;

}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: aliceblue;
  color: rgb(35, 35, 46);
  border-radius: 30px;
  flex:1;
  margin-right: 17px;
  
  
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}
.details col{
  display: flex;
  align-items: center;
  text-align: left;
}
.details col h2 {
  width: 45px;
  margin-right: 10px;

}
.humidity p, .wind p {
  font-size: 20px;
}


